<!-- package tracking -->
<header class="masthead">
  <div class="container position-relative">
    <div class="row justify-content-center">
      <div class="col-xl-6">
        <div class="text-center text-white">
          <h1 class="mb-5">Package Tracking</h1>
          <form (ngSubmit)="submit(f)" #f="ngForm"
            class="form-subscribe"
            id="packageTrackingForm"
            data-sb-form-api-token="API_TOKEN"
          >
            <div class="row">
              <div class="col">
                <input
                  class="form-control form-control-lg is-invalid*/"
                  id="trackingNumber"
                  type="text"
                  placeholder="Tracking Number"
                  data-sb-validations="required"
                  data-sb-can-submit="no"
                  required
                  ngModel name="trackingNumber"
                />
                <!-- <div class="invalid-feedback text-white" data-sb-feedback="emailAddress:required">Error text.</div> -->
              </div>
              <div class="col-auto">
                <button
                  class="btn btn-primary btn-lg"
                  id="submitButton"
                  type="submit"
                  [disabled]="f.status === 'INVALID'"
                  >
                     Submit
                </button>
              </div>
            </div>

            <!-- Submit error message-->
            <!---->
            <!-- This is what your users will see when there is-->
            <!-- an error submitting the form-->
            <div class="d-none" id="submitErrorMessage">
              <div class="text-center text-danger mb-3">
                Error sending message!
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</header>
