<div class="container" style="margin: 50px">

  <table class="table table-striped" *ngIf="packages$ | async as packages; else loading">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Package</th>
        <th scope="col">Address</th>
        <th scope="col">QTY</th>
        <th scope="col">Weight</th>
        <th scope="col">Phone</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let package of packages | paginate: { itemsPerPage: pageSize, currentPage: currentPage, totalItems: itemsTotal}; let i = index">
        <th scope="row">{{ getCounter(i) }}</th>
        <td data-toggle="tooltip" data-placement="right" title="{{package.trackingNumber}}">
          {{package.trackingNumber.slice(0, 4)+'...'+package.trackingNumber.slice(-4)}}
        </td>
        <td>
          <table>
            <tr>
              <td>address</td>
              <td>{{package.sender.address.address1}}</td>
            </tr>
            <tr *ngIf="package.sender.address.address2 != null">
              <td>address2</td>
              <td>{{package.sender.address.address2}}</td>
            </tr>
            <tr *ngIf="package.sender.address.address3 != null">
              <td>address3</td>
              <td>{{package.sender.address.address3}}</td>
            </tr>
            <tr>
              <td>house</td>
              <td>{{package.sender.address.houseNumber }}</td>
            </tr>
            <tr>
              <td>apartment</td>
              <td>{{package.sender.address.apartmentNumber }}</td>
            </tr>
            <tr>
              <td>postal</td>
              <td>{{package.sender.address.postalCode }}</td>
            </tr>
            <tr>
              <td>city</td>
              <td>{{package.sender.address.city }}</td>
            </tr>
            <tr>
              <td>state</td>
              <td>{{package.sender.address.state }}</td>
            </tr>
          </table>
        </td>
        <td>{{package.numberOfPackages}}</td>
        <td>{{package.packageWeight}}</td>
        <td>{{package.sender.phoneNumber}}</td>
        <td style="text-align:right">
          <a class="btn btn-primary">pick up</a>
          <a class="btn btn-danger">failed pick up</a>
          <a class="btn btn-success">delivered</a>
          <!-- button for inactive package -->
          <a class="btn btn-secondary disabled">revert</a>
        </td>
      </tr>

    </tbody>
  </table>

  <ul class="pagination justify-content-end">
  <pagination-controls
    (pageChange)="pageChanged($event)"
    (pageBoundsCorrection)="pageChanged($event)"
    >
  </pagination-controls>
  </ul>


  <ng-template #loading>
    <span>Loading...</span>
  </ng-template>


</div>
